body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    width: 720px;
    list-style: none;
   
}
  ul li{
    float: left; 
    
  
    background: url(/arquivos-necessarios-navegacao-abas/arquivos-necessarios-navegacao-abas/aba-direita.png) no-repeat top right;
}
.clear{
  clear: both;
}
li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    color: #fff;
    background: url(/arquivos-necessarios-navegacao-abas/arquivos-necessarios-navegacao-abas/aba-esquerda.png) no-repeat top left;
}
li a:hover{
  color: #894a1f;
}
ul #current {
  background: url(/arquivos-necessarios-navegacao-abas/arquivos-necessarios-navegacao-abas/aba-direita-atual.png) no-repeat top left;
}
ul #current a {
  background: url(/arquivos-necessarios-navegacao-abas/arquivos-necessarios-navegacao-abas/aba-esquerda-atual.png) no-repeat top left;
}
header{
  display: block;
  float: right;
}